<%= form_with(model: semester, local: true) do |form| %>
  <% if semester.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(semester.errors.count, "error") %> prohibited this semester from being saved:</h2>

      <ul>
        <% semester.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Academic_Year %>
    <%= form.text_field :ay %>
  </div>

  <div class="field">
    <%= form.label :Semester %>
    <%= form.text_field :sem %>
  </div>

  <div class="field">
    <%= form.label :past %>
    <%= form.check_box :past %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
