<h2> <%= @semester.ay %> <%= @semester.sem %>  </h2>
<h4> Status:
  <% if @semester.past %>
    Completed
  <% else %>
    Uncompleted
  <% end %>
</h4>

<h3 style = "text-decoration: underline;"> Modules taken </h3>

<h4 style="position:relative; bottom:5px; text-decoration: underline;">
<% if !@semester.past %> 
  <%= link_to 'Add module', mods_path %>
  <% end %>
</h4> 

<p style="position:relative; bottom:3px;">
<%= link_to 'Edit', edit_semester_path(@semester) %> |
<%= link_to 'Back', semesters_path %>
</p>
