<h2> <%= @mod.module_code %> <%= @mod.module_title %>  </h2>
<br>

<h4 style = "text-decoration: underline;"> No. of MC:</h4>
<h5> · <%= @mod.module_MC %> MCs </h5>


<h4 style = "text-decoration: underline;"> Module Description: </h4>
<h5> · <%= @mod.module_description %> </h5>

<%= form_with model: @user_mod, url: user_mods_path, local: true do |form| %>
  <%= form.hidden_field :user_id, value: current_user.id %>
  <%= form.hidden_field :mod_id, value: @mod.id %>
  <%= form.label :semester_id %>
  <%= form.select :semester_id, options_for_select(Semester.all.map {|a| [a.sem, a.id]}), class: "form-control" %>
  <br><br>
  <p><%= form.submit "Add to my modules", class:"btn btn-md btn-success" %></p>
<% end %>


<p style="position:relative; bottom:5px;">
<%= link_to 'Back to Module List', mods_path %>
</p>
