<% if @user.errors.any? %>
<h2 align="center">The following errors prevented the user from getting created</h2>
<ul align="center">
  <% @user.errors.full_messages.each do |msg| %>
  <li> <%= msg %> </li>
  <% end %>
</ul>
<br>
<% end %>


<div class='row'>
  <div class='col-xs-12'>
    <%= form_for( @user, :html => {class: "form-horizontal", role: "form"}) do |f| %>
      <div class="form-group">
        <div class="control-label col-sm-2">
          <%= f.label :username %>
        </div>
        <div class="col-sm-8">
          <%= f.text_field :username, class: "form-control", placeholder: "Enter user name", 
          autofocus: true %>
        </div>
      </div>

      <div class='form-group'>
        <div class='control-label col-sm-2'>
           <%= f.label :email %>
        </div>
        <div class="col-sm-8">
          <%= f.email_field :email, rows: 10, class: "form-control", placeholder: "Enter email address"%>
        </div> 
      </div>

      <div class='form-group'>
        <div class='control-label col-sm-2'>
           <%= f.label :password %>
        </div>
        <div class="col-sm-8">
          <%= f.password_field :password, class: "form-control", placeholder: "Enter password"%>
        </div> 
      </div>

       <div class='form-group'>
        <div class='control-label col-sm-2'>
           <%= f.label :seniority %>
        </div>
        <div class="col-sm-8">
          <%= f.select(:seniority, options_for_select([
            ['Year 1','Year 1'],
            ['Year 2','Year 2'],
            ['Year 3','Year 3'],
            ['Year 4','Year 4']], 
            selected: @user.seniority,),
            { :include_blank => 'Nil' } , class: "form-control")%>
        </div> 
      </div>

      <div class='form-group'>
        <div class='control-label col-sm-2'>
           <%= f.label :degree_program %>
        </div>
        <div class="col-sm-8">
          <%= f.select(:degree_program, options_for_select([
            ['Single Degree - Single major','Single Degree - Single major'],
            ['Single Degree - Double major','Single Degree - Double major'],
            ['Double Degree','Double Degree'],
            ['Joint Degree','Joint Degree']],
            selected: @user.degree_program), 
            { :include_blank => 'Nil' } , class: "form-control")%>
        </div> 
      </div>
      

     
      <div class='form-group'>
        <div class='control-label col-sm-2'>
           <%= f.label :double_degree %>
        </div>
        <div class="col-sm-8">
          <%= f.select(:double_degree, options_for_select([
            ['Double Honours Degree in Economics and Law','Double Honours Degree in Economics and Law'],
            ['Double Degree in Communication & New Media and Business Administration/Business Administration (Accountancy)',
             'Double Degree in Communication & New Media and Business Administration/Business Administration (Accountancy)'],
            ['Double Degree in Economics and Business Administration / Business Administration (Accountancy)',
             'Double Degree in Economics and Business Administration / Business Administration (Accountancy)'],
            ['Double Degree in Computer Science / Information Systems and Business Administration / Business Administration (Accountancy)',
             'Double Degree in Computer Science / Information Systems and Business Administration / Business Administration (Accountancy)'],
            ['Double Degree in Computer Science and Mathematics / Applied Mathematics',
             'Double Degree in Computer Science and Mathematics / Applied Mathematics'], 
            ['Double Degree in Engineering and Economics',
             'Double Degree in Engineering and Economics'], 
            ['Double Degree in Engineering and Business Administration / Business Administration (Accountancy)',
             'Double Degree in Engineering and Business Administration / Business Administration (Accountancy)'], 
            ['Double Degree in Law and Life Sciences',
             'Double Degree in Law and Life Sciences'],
            ['Double Degree in Business and Law',
             'Double Degree in Business and Law'], 
            ['Bachelor of Arts (with Honours) and Bachelor of Law (Honours)',
             'Bachelor of Arts (with Honours) and Bachelor of Law (Honours)'],
            ['Not applicable ',
             'Not applicable ']],
             selected: @user.double_degree), 
            { :include_blank => 'Nil' } , class: "form-control")%>
        </div> 
      </div>

      <div class='form-group'>
        <div class='control-label col-sm-2'>
           <%= f.label :Major %>
        </div>
        <div class="col-sm-8">
          <%= f.text_field :first_major, class: "form-control", placeholder: "Fill in your major"%>
        </div> 
      </div>

      <div class='form-group'>
        <div class='control-label col-sm-2'>
           <%= f.label :Second_Major %>
        </div>
        <div class="col-sm-8">
          <%= f.text_field :second_major, class: "form-control", placeholder: "Fill in your second major (Ignore if not applicable)"%>
        </div> 
      </div>  
      
      <div class='form-group'>
        <div class='control-label col-sm-2'>
           <%= f.label :Minor %>
        </div>
        <div class="col-sm-8">
          <%= f.text_field :first_minor, class: "form-control", placeholder: "Fill in your minor (Input Nil if not applicable)"%>
        </div> 
      </div>  


      <div class='form-group'>
        <div class='control-label col-sm-2'>
           <%= f.label :special_program %>
        </div>
        <div class="col-sm-8">
          <%= f.select(:special_program, options_for_select([
            ['NUS Overseas Colleges (NOC)','NUS Overseas Colleges (NOC)'],
            ['University Scholars Program (USP)',
             'University Scholars Program (USP)'],
            ['University Town College Programme (UTCP) ',
             'University Town College Programme (UTCP) '],
            ['Ridge View Residential College (RVRC) ',
             'Ridge View Residential College (RVRC) '],
            ['Not applicable ',
             'Not applicable  ']],
             selected: @user.special_program), 
            { :include_blank => 'Nil' } , class: "form-control")%>
        </div> 
      </div>    

      <div class='form-group'>
        <div class='col-sm-offset-2 col-sm-10'>
          <%= f.submit(@user.new_record? ? "Sign up" : "Update account", class: 'btn btn-primary') %>
        </div>
      </div>

    <% end %>
    <div class="col-xs-4 col-xs-offset-4">
      [ <%= link_to  "Cancel request and back to home page", root_path %> ]
    </div>
  </div>
</div>
