<h1 align="center"> Welcome to <%= @user.username %>'s page <h4 align="right">
<%= link_to 'Back to Peer List', users_path %>
</h4> </h1> 

<div class="row">
  <div class="col-md-4 col-md-offset-4 center">
    <%= gravatar_for @user,size:150 %>
  </div>
</div>
<h4 align="center"><%= @user.username %>'s profile photo</h4>

<br>
<br>

<h3 align="left", style = "text-decoration: underline;"> Email address: </h3>
<h4 align="left">
<%= @user.email %>
</h4>


<h3 align="left", style = "text-decoration: underline;"> Seniority: </h3>
<h4 align="left">
 <% if @user.seniority.present? %>
      <%= @user.seniority %>
  <% else %>
      <%= link_to " Nil (Click to complete profile)" , edit_user_path(@user.id) %>
  <% end %>
</h4>

<h3 align="left", style = "text-decoration: underline;"> Degree Program: </h3>
<h4 align="left"> 
    <% if @user.degree_program.present? %>
      <%= @user.degree_program %>
    <% else %>
      <%= link_to " Nil (Click to complete profile)" , edit_user_path(@user.id) %>
    <% end %>
</h4>


<h3 align="left", style = "text-decoration: underline;"> Major: </h3>
<h4 align="left">
    <% if @user.first_major.present? %>
      <%= @user.first_major%>
      <% if @user.second_major.present? %>
      (first major), <%=  @user.second_major%>  (second major)
      <% end %>
    <% else %>
      <%= link_to " Nil (Click to complete profile)" , edit_user_path(@user.id) %>
    <% end %>
</h4>

<h3 align="left", style = "text-decoration: underline;"> Minor: </h3>
<h4 align="left"> 
  <% if @user.first_minor.present? %>
      <%= @user.first_minor%>
      <% if @user.second_minor.present? %>
        , <%=  @user.second_minor%>  (second minor)
      <% end %>
    <% else %>
      <%= link_to " Nil (Click to complete profile)" , edit_user_path(@user.id) %>
    <% end %>
</h4>

<h3 align="left", style = "text-decoration: underline;"> Special Program: </h3>
<h4 align="left"> 
    <% if @user.special_program.present? %>
      <%= @user.special_program %>
    <% else %>
      <%= link_to " Nil (Click to complete profile)" , edit_user_path(@user.id) %>
    <% end %>
</h4>

<h3 align="left", , style = "text-decoration: underline;"> Modules taken: </h3>