<!DOCTYPE html>
<html>
  <head>
    <title>TestApp2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navigation'%>
    <div class="container">
      <%= yield %>
    </div>
    <%= render 'layouts/footer'%>

    <% flash.each do |key, value| %>
      <div class="alert alert-success">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span></button>
      
      <%= value %>
      </div>
    <% end %>
  </body>  
</html>
